[data-theme="dracula"] {
    --background: rgb(35, 33, 46);

    --surface: rgb(37, 35, 50);
    --overlay: rgb(41, 38, 60);

    --muted: #6272a4;
    --border: #151320;
    --text-color: #F8F8F2;
    --reverse-text: #44475A;
    --secondary-text: #6272A4;
    --danger: #FF5555;
    --warning: #F1FA8C;
    --success: #50FA7B;
    --primary: #8BE9FD;
    --secondary: #FFB86C;
    --accent: #FF79C6;
    --highlight: #6e738d;
    --highlight-low: #5b6078;
    --highlight-high: #939ab7;
    /* big round for big widgets, small round for small widgets */
    /* TODO: swap bigRound and smallRound to big-round and small-round to maintain consistency */
    --bigRound: 10px;
    --smallRound: 5px;
}