[data-theme="monokai"] {
    --background: #221F22;
    --surface: #221F22;
    --overlay: #2D2A2E;
    --text-color: #f8f8f2;
    --secondary-text: #6bcce9;
    --reverse-text: #44475A;
    --muted: #44475A;
    --border: #181618;
    --danger: #FF6188;
    --warning: #F8D263;
    --success: #A8DB75;
    --primary: #FC9867;
    --secondary: #AA9CF0;
    --accent: #72D2DD;
    --highlight: #6e738d;
    --highlight-low: #5b6078;
    --highlight-high: #939ab7;
    /* big round for big widgets, small round for small widgets */
    /* TODO: swap bigRound and smallRound to big-round and small-round to maintain consistency */
    --bigRound: 10px;
    --smallRound: 5px;
}