[data-theme="nord"] {
    --background: rgb(46, 52, 64);
    --surface: rgb(52, 59, 75);
    --overlay: rgb(63, 72, 92);
    --text-color: #eceff4;
    --secondary-text: #8fbcbb;
    --reverse-text: #4c566a;
    --muted: rgb(83, 93, 115);
    --border: rgb(40, 47, 60);
    --danger: #bf616a;
    --warning: #ebcb8b;
    --success: #8fbcbb;
    --primary: #88c0d0;
    --secondary: #81a1c1;
    --accent: #d08770;
    --highlight: #6e738d;
    --highlight-low: #5b6078;
    --highlight-high: #c2c7dc;
    /* big round for big widgets, small round for small widgets */
    /* TODO: swap bigRound and smallRound to big-round and small-round to maintain consistency */
    --bigRound: 10px;
    --smallRound: 5px;
}