[data-theme="rose-pine"] {
    --background: #191724; /*#211f20*/
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --border: #403D52;
    --text-color: #e0def4;
    --reverse-text: #575279;
    --secondary-text: #21202e;
    --danger: #eb6f92;
    --warning: #f6c177;
    --success: #9ccfd8;
    --primary: #c4a7e7;
    --secondary: #31748f;
    --accent: #ebbcba;
    --highlight: #524f67;
    --highlight-low: #21202e;
    --highlight-high: #f4ede8;
    /* big round for big widgets, small round for small widgets */
    --bigRound: 10px;
    --smallRound: 5px;
}